# The database is a local created database with postgres and the docker image
DATABASE_URL=

# The resend api key, create one under https://resend.com or replace the resend logic with your own
RESEND=
